body {
  font-family: 'Roboto', sans-serif;
  color: #757575;
}

:root {
  --color-titles: #212121;
  --color-subtitles: #757575;
  --color-accent: #2196f3;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 1px solid red;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  :94px ;
}

/*-----------HEADER----------*/

.header {
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: inline-flex;
  align-items: center;
}

.logo {
  padding-top: 24px;
  padding-right: 93px;
  padding-bottom: 25px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-accent);
}
.logo-header-studio {
  color: #000000;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item {
}

.header-contacts {
  margin-left: auto;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-accent);
}

.header-tel {
  margin-left: 50px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-subtitles);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-titles);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-accent);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--color-accent);
}

/*-----------HERO----------*/

.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 200px 452px 30px 452px;
  min-width: 696px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  margin-bottom: 200px;

}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--color-accent);
}

/*-----------SERVICE----------*/

.service {
}

.service-list {
  padding-bottom: 94px;
  display: flex;
  gap: 30px;
}

.service-item {
}

.service-title-list {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-titles);
}

.service-title-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.service-title,
.team-title {
  /* padding-top: 94px; */
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-titles);
}

.service-list-image {
  display: flex;
  gap: 30px;
}

/*-----------TEAM----------*/

.team {
  background: #f5f4fa;
}

.team-list {
  display: flex;
  gap: 30px;
}

.team-item {
}

.team-title-name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-titles);
}

.team-profession {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/*-----------FOOTER----------*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.logo-footer {
}

.logo-footer-studio {
  color: #ffffff;
}

.footer-address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  margin-top: 9px;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*-----------PORTFOLIO----------*/

.portfolio {
}

.portfolio-list-btn {
  margin-top: 100px;
  margin-bottom: 56px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.portfolio-item-btn {
}

.portfolio-btn {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--color-accent);
}

/* .portfolio-list {
  border: 1px solid #EEEEEE;
} */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  /* column-gap: 30px;
  row-gap: 30px; */
}
.portfolio-list:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolio-img {
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-titles);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
